# Base de données PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/spartops?schema=public"

# better-auth (générer avec: openssl rand -hex 32)
BETTER_AUTH_SECRET="votre-secret-ici-minimum-32-caracteres"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"
